<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ titulo }}
        </title>
    </head>
    <body>
        <h1>Hola {{ nombre }}</h1>

        <p>
            Los nombre son :
            {{#info}}  <!--- el # es para que recorra el array -->
                <li>{{nombre}} - {{edad}}</li> 
            {{/info}}      
        </p>
    </body>
</html>